.repos-table {
  margin: 15px 0;
  .mobile-description,
  .mobile-language {
    display: none;
  }
  &:first-child {
    margin-top: 30px;
  }
  .align-center {
    text-align: center !important;
  }
  a {
    color: #0d89ec;
    text-decoration: underline;
    &:hover,
    &:visited {
      color: #0d89ec;
      text-decoration: underline;
    }
  }

  ::ng-deep {
    .p-toolbar {
      .p-toolbar-group-left {
        width: 100%;
      }
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-bottom: none !important;
    }
  }

  @media (max-width: 1024px) {
    .mobile-description {
      display: block !important;
      margin-right: 20px;
      &.bold {
        font-weight: 700;
      }
    }
    .toolbar__content {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .mobile-language {
        display: block;
        margin: 10px 10px 10px 0;
        .lang {
          color: #fff;
          background-color: #0d89ec;
          border-radius: 5px;
          padding: 2px 5px;
        }
      }
    }

    .align-center {
      text-align: left !important;
    }
    .td-index {
      display: none !important;
    }
    ::ng-deep {
      .p-datatable-responsive {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: 0.4rem;
            min-width: 30%;
            display: inline-block;
            margin: -0.4em 1em -0.4em -0.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }

  @media (max-width: 425px) {
    .toolbar__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      .mobile-language {
        margin: 10px;
      }
    }
  }
}

:host ::ng-deep {
  .p-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}
