<div class="repos-table">
  <div class="p-card">
    <p-toast position="top-right"></p-toast>
    <p-toolbar styleClass="p-mb-4 toolbar">
      <ng-template pTemplate="left">
        <div class="toolbar__content">
          <div class="mobile-language">
            Language: <span class="lang">{{ language }}</span>
          </div>
          <button
            pButton
            pRipple
            label="Delete"
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteSelectedRepos()"
            [disabled]="!selectedRepos || !selectedRepos.length"
          ></button>
        </div>
      </ng-template>
    </p-toolbar>
    <p-table
      [value]="repos"
      [(selection)]="selectedRepos"
      [rowHover]="true"
      class="p-datatable-responsive"
    >
      <ng-template pTemplate="header">
        <tr>
          <th colspan="12">Language: {{ language }}</th>
        </tr>
        <tr>
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>#</th>
          <th>ID</th>
          <th pSortableColumn="name" colspan="3">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th colspan="3">Description</th>
          <th pSortableColumn="created_at" class="align-center" colspan="2">
            Created at <p-sortIcon field="created_at"></p-sortIcon>
          </th>
          <th class="align-center">Link</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-repo let-rowIndex="rowIndex">
        <tr>
          <td>
            <span class="mobile-description bold">Select: </span>
            <p-tableCheckbox [value]="repo"></p-tableCheckbox>
          </td>
          <td class="td-index">{{ rowIndex + 1 }}</td>
          <td>
            <span class="mobile-description bold">ID: </span>{{ repo.id }}
          </td>
          <td colspan="3">
            <span class="mobile-description bold">Name: </span>
            {{ repo.name }}
          </td>
          <td colspan="3">
            <span class="mobile-description bold">Description: </span
            >{{ repo.description }}
          </td>
          <td colspan="2" class="align-center">
            <span class="mobile-description bold">Created at: </span>
            {{ getFormattedDate(repo.created_at) }}
          </td>
          <td class="align-center">
            <span class="mobile-description bold">Git Link: </span>
            <a [href]="repo.url" target="_blank">Link</a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="12" class="align-center">No repos found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
