<div class="login">
  <p-toast position="top-right"></p-toast>
  <p-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login__form">
      <h1 class="login__title">Sign In</h1>
      <div class="p-fluid">
        <div class="p-field">
          <label for="login">Login</label>
          <input id="login" formControlName="login" type="text" pInputText />
          <div class="error-messages">
            <small
              id="login-help"
              class="p-error"
              *ngIf="
                login?.invalid && login?.touched && login?.errors?.required
              "
              >Username is required.</small
            >
            <small
              id="login-help"
              class="p-error"
              *ngIf="login?.invalid && login?.touched && login?.errors?.email"
              >Enter valid e-mail login.</small
            >
          </div>
          <small>Hint: open console to see options</small>
        </div>
        <div class="p-field">
          <label for="password">Password</label>
          <input
            id="password"
            formControlName="password"
            type="password"
            pInputText
          />
          <div class="error-messages">
            <small
              id="passwor-help"
              class="p-error"
              *ngIf="
                password?.invalid &&
                password?.touched &&
                password?.errors?.required
              "
              >Password is required.</small
            >
          </div>
        </div>
        <div class="p-field">
          <button pButton pRipple type="submit" label="Sign In"></button>
        </div>
      </div>
    </form>
  </p-card>
</div>
