.login {
  width: 100%;
  min-height: 100vh;
  background-color: #0d89ec;
  display: flex;
  justify-content: center;
  align-items: center;

  .login__title {
    margin-bottom: 30px;
  }

  .login__form {
    width: 500px;
    max-width: 100%;

    @media(max-width: 768px) {
      width: 400px;
    }
    @media(max-width: 425px) {
      width: unset;
    }
  }
  .p-field {
    input {
      margin-top: 5px;
    }
    margin-bottom: 30px;
  }
  .error-messages {
    min-height: 20px;
  }
}
