.p-card {
  margin-bottom: 30px;
}

.user-filter {
  padding: 15px 30px;

  .user-filter__form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    input {
      margin-right: 20px;
    }
  }

  @media (max-width: 425px) {
    padding: 10px;
    .user-filter__form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      input {
          margin: 0;
        margin-bottom: 10px;
        width: 100%;
      }
      button {
        width: 100%;
      }
    }
  }
}
