<p-toast position="top-right"></p-toast>
<div class="p-card">
  <div class="user-filter">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="user-filter__form">
      <input
        type="text"
        pInputText
        placeholder="Search user"
        formControlName="query"
      />
      <button
        pButton
        label="Search"
        type="submit"
        icon="pi pi-search"
        iconPos="left"
      ></button>
    </form>
  </div>
</div>
