<div class="p-card">
  <div class="user-search">
    <button
      pButton
      label="Back"
      type="button"
      icon="pi pi-arrow-left"
      iconPos="left"
      [routerLink]="['/users']"
    ></button>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="user-search__form">
      <input
        type="text"
        pInputText
        placeholder="Search user"
        formControlName="login"
      />
      <button
        pButton
        label="Search"
        type="submit"
        icon="pi pi-search"
        iconPos="left"
      ></button>
    </form>
  </div>
</div>
