.p-card {
  margin-bottom: 30px;
}
.user-search {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .user-search__form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    input {
      margin-right: 20px;
    }
  }

  @media (max-width: 768px) {
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    button {
      width: 100%;
      margin-bottom: 10px;
    }
    .user-search__form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      input {
        margin: 0;
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
}
