<div class="app">
  <router-outlet></router-outlet>
  <p-dialog
    header="Welcome to the test project!"
    [(visible)]="isModalVisible"
    [modal]="true"
    [style]="{ width: '80vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="p-m-0">
      <div class="modal__content">
        <div class="modal__content__row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-check"
            class="p-button-rounded p-button-success p-button-outlined"
          ></button>
          <span>Base information</span>
        </div>
        <div class="modal__content__row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-check"
            class="p-button-rounded p-button-success p-button-outlined"
          ></button>
          <span>Sortabled repository tables split by languages</span>
        </div>
        <div class="modal__content__row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-check"
            class="p-button-rounded p-button-success p-button-outlined"
          ></button>
          <span>Repository tables</span>
        </div>
        <div class="modal__content__row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-check"
            class="p-button-rounded p-button-success p-button-outlined"
          ></button>
          <span>Prime NG</span>
        </div>
        <div class="modal__content__row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-check"
            class="p-button-rounded p-button-success p-button-outlined"
          ></button>
          <span>Login page</span>
        </div>
        <div class="modal__content__row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-check"
            class="p-button-rounded p-button-success p-button-outlined"
          ></button>
          <span>Avoid redundant redundant request to a server</span>
        </div>
        <div class="modal__content__row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-check"
            class="p-button-rounded p-button-success p-button-outlined"
          ></button>
          <span>Responsive</span>
        </div>
        <div class="modal__content__row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-check"
            class="p-button-rounded p-button-success p-button-outlined"
          ></button>
          <span>Handling responses with messages</span>
        </div>
        <div class="modal__content__row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-check"
            class="p-button-rounded p-button-success p-button-outlined"
          ></button>
          <span>Welcome popup(instead of page)</span>
        </div>
        <div class="modal__content__row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-check"
            class="p-button-rounded p-button-success p-button-outlined"
          ></button>
          <span>AuthGuard</span>
        </div>
        <div class="modal__content__row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-check"
            class="p-button-rounded p-button-success p-button-outlined"
          ></button>
          <span>Split code to modules and components</span>
        </div>
        <div class="modal__content__row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-outlined"
          ></button>
          <span>Did not use strict types</span>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-check"
        (click)="closeModal()"
        label="close"
        class="p-button-text"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>
