.app {
  min-height: 100vh;
  background-color: #0d89ec;

  .modal__content {
    width: 100%;
    overflow-y: scroll;
    .modal__content__row {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      button {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }

      span {
        display: block;
        width: calc(100% - 40px);
      }
    }
  }
}
