.repos-owner-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: flex-start;
      .add-button {
        width: 100%;
        margin-top: 10px;
      }
  }
}
.repos-owner {
  display: flex;

  .repos-owner__left {
    margin-right: 30px;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .repos-owner__right {
    .repos-owner__right__row {
      margin-bottom: 5px;
      .name {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 5px;
      }
      .login {
        margin-bottom: 20px;
      }
    }
  }

  a {
    color: #0d89ec;
    text-decoration: underline;
    &:hover,
    &:visited {
      color: #0d89ec;
      text-decoration: underline;
    }
  }

  @media(max-width: 425px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    .repos-owner__left {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
}
