<p-card>
  <div class="repos-owner-wrapper">
    <div class="repos-owner">
      <div class="repos-owner__left">
        <img [src]="user.avatar_url" />
      </div>
      <div class="repos-owner__right">
        <div class="repos-owner__right__row">
          <div class="name">{{ user.name }}</div>
          <div class="login">
            <a [href]="user.html_url" target="_blank">{{ user.login }}</a>
          </div>
        </div>
        <div class="repos-owner__right__row">
          Registration date: {{ formattedDate }}
        </div>
        <div class="repos-owner__right__row">
          Public repositories: {{ user.public_repos }}
        </div>
        <div class="repos-owner__right__row">
          Followers: {{ user.followers }}
        </div>
        <div class="repos-owner__right__row">
          Following: {{ user.following }}
        </div>
      </div>
    </div>
    <div class="button-wrapper" *ngIf="!formVisibility">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-plus"
        label="Add new repository"
        class="p-button-success add-button"
        (click)="setVisible()"
      ></button>
    </div>
  </div>
</p-card>
