.p-card {
    margin: 20px 0;
}
.rep-create {
  width: 100%;
  padding: 30px;

  h3 {
    margin-bottom: 30px;
  }

  .p-field {
    input,
    textarea,
    .select-wrapper {
      margin-top: 5px;
    }
    margin-bottom: 15px;
  }

  .button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}
