<div class="p-card">
  <div class="rep-create">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="rep-create__form">
      <h3 class="rep-create__title">Lets create a new repository</h3>
      <div class="p-fluid">
        <div class="p-field">
          <label for="name">Name</label>
          <input id="name" formControlName="name" type="text" pInputText />
          <div class="error-messages">
            <small
              id="name-help"
              class="p-error"
              *ngIf="name?.invalid && name?.touched && name?.errors?.required"
              >Name is required.</small
            >
          </div>
        </div>
        <div class="p-field">
          <label for="description">Description</label>
          <textarea
            pInputTextarea
            id="description"
            formControlName="description"
            type="password"
          ></textarea>
          <div class="error-messages">
            <small
              id="passwor-help"
              class="p-error"
              *ngIf="
                description?.invalid &&
                description?.touched &&
                description?.errors?.required
              "
              >Description is required.</small
            >
          </div>
        </div>
        <div class="p-field">
          <label for="language">Language</label>
          <div class="select-wrapper">
            <p-dropdown
              id="language"
              formControlName="language"
              placeholder="Select a language"
              optionLabel="title"
              [options]="languages"
              [showClear]="true"
            ></p-dropdown>
          </div>
        </div>
        <div class="p-field button-wrapper">
          <button
            pButton
            class="p-button-outlined"
            type="button"
            label="Cancel"
            (click)="onCancel()"
          ></button>
          <button pButton pRipple type="submit" label="Create"></button>
        </div>
      </div>
    </form>
  </div>
</div>
