<div class="repos">
  <p-toast position="top-right"></p-toast>
  <p-messages [(value)]="hintMessages" [enableService]="false"></p-messages>
  <div class="repos__top">
    <app-user-search
      [initialValues]="formInitialValues"
      (updateUser)="updateCurrentUser($event)"
    ></app-user-search>
    <app-repos-owner
      *ngIf="currentUser"
      [user]="currentUser"
      [formVisibility]="formVisibility"
      (changeVisibility)="changeVisibility($event)"
    ></app-repos-owner>
  </div>
  <div class="repos__bottom">
    <app-repository-create
      *ngIf="formVisibility"
      (raiseValues)="createNewRepository($event)"
      (changeVisibility)="changeVisibility($event)"
    ></app-repository-create>
    <app-repos-table
      *ngFor="let repItem of reposByLanguage; let i = index"
      [repos]="repItem.repos"
      [language]="repItem.language"
      (deleteRepositories)="deleteRepositories($event)"
    ></app-repos-table>
  </div>
</div>
