:host {
  .user-profile {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      margin-right: 10px;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      object-fit: cover;
    }
  }

  .mobile-description {
    display: none;
  }

  .align-center {
    text-align: center !important;
  }

  a {
    color: #0d89ec;
    text-decoration: underline;
    &:hover,
    &:visited {
      color: #0d89ec;
      text-decoration: underline;
    }
  }

  ::ng-deep {
    .p-toolbar {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-bottom: none !important;
    }
  }

  @media (max-width: 1024px) {
    .mobile-description {
      display: block !important;
      margin-right: 20px;
      &.bold {
        font-weight: 700;
      }
    }
    .align-center {
      text-align: left !important;
    }
    .td-index {
      display: none !important;
    }
    ::ng-deep {
      .p-datatable-responsive {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: 0.4rem;
            min-width: 30%;
            display: inline-block;
            margin: -0.4em 1em -0.4em -0.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}
