<div class="users-table">
  <div class="p-card">
    <p-toast position="top-right"></p-toast>
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          label="Delete"
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="deleteSelectedUsers()"
          [disabled]="!selectedUsers || !selectedUsers.length"
        ></button>
      </ng-template>
    </p-toolbar>
    <p-table
      [value]="users"
      [(selection)]="selectedUsers"
      [rowHover]="true"
      [globalFilterFields]="['id', 'login', 'score']"
      class="p-datatable-responsive"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>#</th>
          <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="login" colspan="2">
            Profile <p-sortIcon field="login"></p-sortIcon>
          </th>
          <th pSortableColumn="score" class="align-center">
            Score <p-sortIcon field="score"></p-sortIcon>
          </th>
          <th class="align-center">Repositories</th>
          <th class="align-center">Link</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
        <tr>
          <td>
            <span class="mobile-description bold">Select: </span>
            <p-tableCheckbox [value]="user"></p-tableCheckbox>
          </td>
          <td class="td-index">{{ rowIndex + 1 }}</td>
          <td>
            <span class="mobile-description bold">ID: </span>{{ user.id }}
          </td>
          <td colspan="2">
            <div class="user-profile">
              <img [src]="user.avatar_url" />
              <span>{{ user.login }}</span>
            </div>
          </td>
          <td class="align-center">
            <span class="mobile-description bold">Score: </span>{{ user.score }}
          </td>
          <td class="align-center">
            <span class="mobile-description bold">Repositories: </span>
            <a (click)="navigateToUserRepos(user)">See repos</a>
          </td>
          <td class="align-center">
            <span class="mobile-description bold">Link: </span>

            <a [href]="user.html_url" target="_blank">Link</a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" class="align-center">No users found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
